@charset "utf-8";
@import "~bulma/bulma";

// .container {
//     background-color: aquamarine;
// }
.dev {
    outline: 1px solid red;
}

.dev2 {
    outline: 1px solid blue;
}

.dashboard {
    max-width: 600px;
}

.is-line-through {
    text-decoration: line-through
}

.is-half-width {
    width: 50%;
}

.is-one-third-width {
    width: 33%;
}

.is-border {
    border: 1px solid $grey-light;
}